*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

body{
	background:black;
	color:#fff;
}

.header{
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-color: black;
}

.container{
	padding: 16px 16px 0px 16px;
}

nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.logo{
	color:#0000FF ;
	width: 110px;
	cursor: pointer;
}

nav ul li{
	display: inline-block;
	list-style: none;
	margin: 8px 0px;
	margin-left: 42px;
}

nav ul li a{
	color: #fff;
	text-decoration: none;
	position: relative;
	font-family: "neue-haas-grotesk-display", sans-serif;
	font-weight: 300;
	font-style: normal;
}

nav ul li a::after{
	content: ' ';
	width: 0%;
	height: 2px;
	background: #0000FF;
	position: absolute;
	left: 0;
	bottom: 8px;
	transition: 0.0s;

}

nav ul li a:hover::after{
	width: 100%;
}

.ou{
	font-size: 16px;
}


.header-text{
	padding: 16px 16px 8px 16px;
	font-size: 20px;
	font-family: "neue-haas-grotesk-display", sans-serif;
	font-weight: 300;
	font-style: normal;
}

#portfolio{
	padding: 8px 16px 16px;
	max-width: 1920px;
	width: 100%;
}

.work-container{
	display: flex;
	gap: 10px;
}

.colum{
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 55%;
}

.colum2{
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 45%;
}

.work-card img{
	width: 100%;
	border-radius: 5px;
}

.work-card video{
	width: 100%;
	border-radius: 5px;
}

.sopranos{
	width: 600px;
}

.work-card{
	position: relative;
}

.work-detaily{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background: rgba(0, 0, 0, 0.0);
	display: flex;
	justify-content: left;
	flex-direction: column;
	opacity: 0;
	transition: 0.0s;
	text-align: left;
}


.work-detaily:hover{
	opacity: 1;
}

.work-detaily h3{
	font-size: 24px;
	color: white;
	margin: 15px;
	text-align: left;
	font-family: "neue-haas-grotesk-display", sans-serif;
	font-weight: 300;
	font-style: normal;
}


.odkazy{
	text-decoration: none;
}

/*-------------footer--------*/

.footerContainer{
	width: 100%;
	padding: 64px 32px 64px;
	position: absolute;
}

.socialmedia{
	display: flex;
	justify-content: center;
}

.socialmedia a{
	padding: 8px;
	margin: 8px;
	color: white;
	font-size: 16px;
	font-family: "neue-haas-grotesk-display", sans-serif;
	font-weight: 300;
	font-style: normal;
	text-decoration: none;
}

.footerbottom{
	padding: 16px;
	text-align: center;
}

.footerbottom p{
	font-size: 16px;
	font-family: "neue-haas-grotesk-display", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.desiner-name{
	font-family: "neue-haas-grotesk-display", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 16px;
	color: #0000FF;
}


/*********************************************************************************************TELEFON********************************************************************************/

@media (max-width: 1024px){
	
	body{
		background:black;
		color:#fff;
	}
	
	.header{
		width: 100%;
		height: 100vh;
		background-size: cover;
		background-position: center;
		background-color: black;
	}
	
	
	nav{
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	
	.logo{
		color:#0000FF ;
		width: 110px;
		cursor: pointer;
	}
	
	nav ul li{
		display: inline-block;
		list-style: none;
		margin: 10px 0px;
		margin-left: 40px;
	}
	
	nav ul li a{
		color: #fff;
		text-decoration: none;
		position: relative;
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: normal;
	}
	
	nav ul li a::after{
		content: ' ';
		width: 0%;
		height: 2px;
		background: #0000FF;
		position: absolute;
		left: 0;
		bottom: 10px;
		transition: 0.0s;
	
	}
	
	nav ul li a:hover::after{
		width: 100%;
	}
	
	.ou{
		font-size: 16px;
	}
	
	
	.header-text{
		padding: 16px 16px 8px 16px;
		font-size: 20px;
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: normal;
	}
	
	#portfolio{
		padding: 10px 15px 20px;
		max-width: 1920px;
		width: 100%;
	}
	
	.work-container{
		display: flex;
		gap: 10px;
	}
	
	.colum{
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 55%;
	}
	
	.colum2{
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 45%;
	}
	
	.work-card img{
		width: 100%;
		border-radius: 5px;
	}
	
	.work-card video{
		width: 100%;
		border-radius: 5px;
	}
	
	.sopranos{
		width: 600px;
	}
	
	.work-card{
		position: relative;
	}
	
	.work-detaily{
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
		background: rgba(0, 0, 0, 0.0);
		display: flex;
		justify-content: left;
		flex-direction: column;
		opacity: 0;
		transition: 0.0s;
		text-align: left;
	}
	
	
	.work-detaily:hover{
		opacity: 1;
	}
	
	.work-detaily h3{
		font-size: 30px;
		color: white;
		margin: 15px;
		text-align: left;
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: normal;
	}
	
	
	.odkazy{
		text-decoration: none;
	}
	
	/*-------------footer--------*/
	
	.footerContainer{
		width: 100%;
		padding: 30px 30px 30px;
		position: absolute;
	}
	
	.socialmedia{
		display: flex;
		justify-content: center;
	}
	
	.socialmedia a{
		padding: 10px;
		margin: 10px;
		color: white;
		font-size: 16px;
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: normal;
		text-decoration: none;
	}
	
	.footerbottom{
		padding: 20px;
		text-align: center;
	}
	
	.footerbottom p{
		font-size: 16px;
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: normal;
	}
	
	.desiner-name{
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: normal;
		font-size: 16px;
		color: #0000FF;
	}
}

/*****************************************************************************************************************************************************************************************/

@media (max-width: 900px){
	body{
		background:black;
		color:#fff;
	}
	
	.header{
		width: 100%;
		height: 100vh;
		background-size: cover;
		background-position: center;
		background-color: black;
	}
	
	
	nav{
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	
	.logo{
		color:#0000FF ;
		width: 110px;
		cursor: pointer;
	}
	
	nav ul li{
		display: inline-block;
		list-style: none;
		margin: 10px 0px;
		margin-left: 40px;
	}
	
	nav ul li a{
		color: #fff;
		text-decoration: none;
		position: relative;
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: normal;
	}
	
	nav ul li a::after{
		content: ' ';
		width: 0%;
		height: 2px;
		background: #0000FF;
		position: absolute;
		left: 0;
		bottom: 10px;
		transition: 0.0s;
	
	}
	
	nav ul li a:hover::after{
		width: 100%;
	}
	
	.ou{
		font-size: 16px;
	}
	
	
	.header-text{
		padding: 16px 16px 8px 16px;
		font-size: 20px;
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: normal;
	}
	
	#portfolio{
		padding: 10px 15px 20px;
		max-width: 1920px;
		width: 100%;
	}
	
	.work-container{
		display: flex;
		gap: 10px;
	}
	
	.colum{
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 55%;
	}
	
	.colum2{
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 45%;
	}
	
	.work-card img{
		width: 100%;
		border-radius: 5px;
	}
	
	.work-card video{
		width: 100%;
		border-radius: 5px;
	}
	
	.sopranos{
		width: 600px;
	}
	
	.work-card{
		position: relative;
	}
	
	.work-detaily{
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
		background: rgba(0, 0, 0, 0.0);
		display: flex;
		justify-content: left;
		flex-direction: column;
		opacity: 0;
		transition: 0.0s;
		text-align: left;
	}
	
	
	.work-detaily:hover{
		opacity: 1;
	}
	
	.work-detaily h3{
		font-size: 24px;
		color: white;
		margin: 15px;
		text-align: left;
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: normal;
	}
	
	
	.odkazy{
		text-decoration: none;
	}
	
	/*-------------footer--------*/
	
	.footerContainer{
		width: 100%;
		padding: 30px 30px 30px;
		position: absolute;
	}
	
	.socialmedia{
		display: flex;
		justify-content: center;
	}
	
	.socialmedia a{
		padding: 10px;
		margin: 10px;
		color: white;
		font-size: 16px;
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: normal;
		text-decoration: none;
	}
	
	.footerbottom{
		padding: 20px;
		text-align: center;
	}
	
	.footerbottom p{
		font-size: 16px;
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: normal;
	}
	
	.desiner-name{
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: normal;
		font-size: 16px;
		color: #0000FF;
	}
}



/****************************************************************************************************************************************************************************************/

@media (max-width: 768px){
	body{
		background:black;
		color:#fff;
	}
	
	.header{
		width: 100%;
		height: 100vh;
		background-size: cover;
		background-position: center;
		background-color: black;
	}
	
	
	nav{
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	
	.logo{
		color:#0000FF ;
		width: 110px;
		cursor: pointer;
	}
	
	nav ul li{
		display: inline-block;
		list-style: none;
		margin: 10px 0px;
		margin-left: 40px;
	}
	
	nav ul li a{
		color: #fff;
		text-decoration: none;
		position: relative;
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: normal;
	}
	
	nav ul li a::after{
		content: ' ';
		width: 0%;
		height: 2px;
		background: #0000FF;
		position: absolute;
		left: 0;
		bottom: 10px;
		transition: 0.0s;
	
	}
	
	nav ul li a:hover::after{
		width: 100%;
	}
	
	.ou{
		font-size: 16px;
	}
	
	
	.header-text{
		padding: 16px 16px 8px 16px;
		font-size: 16px;
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: normal;
	}
	
	#portfolio{
		padding: 10px 15px 20px;
		max-width: 1920px;
		width: 100%;
	}
	
	.work-container{
		display: flex;
		gap: 10px;
	}
	
	.colum{
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 55%;
	}
	
	.colum2{
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 45%;
	}
	
	.work-card img{
		width: 100%;
		border-radius: 5px;
	}
	
	.work-card video{
		width: 100%;
		border-radius: 5px;
	}
	
	.sopranos{
		width: 600px;
	}
	
	.work-card{
		position: relative;
	}
	
	.work-detaily{
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
		background: rgba(0, 0, 0, 0.0);
		display: flex;
		justify-content: left;
		flex-direction: column;
		opacity: 0;
		transition: 0.0s;
		text-align: left;
	}
	
	
	.work-detaily:hover{
		opacity: 1;
	}
	
	.work-detaily h3{
		font-size: 24px;
		color: white;
		margin: 15px;
		text-align: left;
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: normal;
	}
	
	
	.odkazy{
		text-decoration: none;
	}
	
	/*-------------footer--------*/
	
	.footerContainer{
		width: 100%;
		padding: 30px 30px 30px;
		position: absolute;
	}
	
	.socialmedia{
		display: flex;
		justify-content: center;
	}
	
	.socialmedia a{
		padding: 10px;
		margin: 10px;
		color: white;
		font-size: 16px;
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: normal;
		text-decoration: none;
	}
	
	.footerbottom{
		padding: 20px;
		text-align: center;
	}
	
	.footerbottom p{
		font-size: 16px;
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: normal;
	}
	
	.desiner-name{
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: normal;
		font-size: 16px;
		color: #0000FF;
	}
}
	


/*****************************************************************************************************************************************************************************************/

@media (max-width: 430px){
	

	.ou{
		font-size: 16px;
		padding-bottom: 3px;
	}

	.container{
		padding: 16px 8px 0px 8px;
	}

	.logo{
		top: 5px;
		width: 80px;
	}
	
	nav ul li{
		display: inline-block;
		list-style: none;
		margin: 10px 0px;
		margin-left: 40px;
	}

	nav ul li a::after{
		content: ' ';
		width: 0%;
		height: 2px;
		background: #0000FF;
		position: absolute;
		left: 0;
		bottom: 5px;
		transition: 0.0s;

	}

	nav ul li a:hover::after{
		width: 100%;
	}

	.header-text{
		padding: 8px;
	}

	.header-text p{
		font-size: 16px;
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: normal;
	}

	.header-text p em{
		font-size: 16px;
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: italic;
	}

	.footerContainer{
		width: 100%;
		padding: 30px 30px 30px;
		position: absolute;
	}
	
	.socialmedia{
		display: flex;
		justify-content: center;
	}
	
	.socialmedia a{
		padding: 10px;
		margin: 10px;
		color: white;
		font-size: 14px;
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: normal;
		text-decoration: none;
	}
	
	.footerbottom{
		padding: 20px;
		text-align: center;
	}
	
	.footerbottom p{
		font-size: 14px;
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: normal;
	}
	
	.desiner-name{
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: normal;
		font-size: 14px;
		color: #0000FF;
	}

	#portfolio{
		padding: 10px 10px 20px;
		max-width: 1920px;
		width: 100%;
	}

	.work-container{
		display: block;
		gap: 3px;
		padding-bottom: 3px;
	}

	.colum{
		display: flex;
		flex-direction: column;
		gap: 5px;
		padding-bottom: 5px;
		width:100%;
	}

	.colum2{
		display: flex;
		flex-direction: column;
		gap: 5px;
		padding-bottom: 10px;
		width: 100%;
	}
	.work-detaily h3{
		font-size: 18px;
		color: white;
		margin: 15px;
		text-align: left;
		font-family: "coolvetica", sans-serif;
		font-weight: 100;
		font-style: normal;
	}
}

/************************************************************************************************************************************************************************************/

@media (max-width: 395px){

	.ou{
		font-size: 16px;
		padding-bottom: 3px;
	}

	.container{
		padding: 16px 8px 0px 8px;
	}

	.logo{
		top: 5px;
		width: 80px;
	}
	
	nav ul li{
		display: inline-block;
		list-style: none;
		margin: 10px 0px;
		margin-left: 40px;
	}

	nav ul li a::after{
		content: ' ';
		width: 0%;
		height: 2px;
		background: #0000FF;
		position: absolute;
		left: 0;
		bottom: 5px;
		transition: 0.0s;

	}

	nav ul li a:hover::after{
		width: 100%;
	}

	.header-text{
		padding: 10px 10px 5px;
	}

	.header-text p{
		font-size: 16px;
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: normal;
	}

	.header-text p em{
		font-size: 16px;
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: italic;
	}

	
	.footerContainer{
		width: 100%;
		padding: 30px 30px 30px;
		position: absolute;
	}
	
	.socialmedia{
		display: flex;
		justify-content: center;
	}
	
	.socialmedia a{
		padding: 10px;
		margin: 10px;
		color: white;
		font-size: 14px;
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: normal;
		text-decoration: none;
	}
	
	.footerbottom{
		padding: 20px;
		text-align: center;
	}
	
	.footerbottom p{
		font-size: 14px;
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: normal;
	}
	
	.desiner-name{
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: normal;
		font-size: 14px;
		color: #0000FF;
	}

	#portfolio{
		padding: 10px 10px 20px;
		max-width: 1920px;
		width: 100%;
	}

	.work-container{
		display: block;
		gap: 3px;
		padding-bottom: 3px;
	}

	.colum{
		display: flex;
		flex-direction: column;
		gap: 5px;
		padding-bottom: 5px;
		width:100%;
	}

	.colum2{
		display: flex;
		flex-direction: column;
		gap: 5px;
		padding-bottom: 10px;
		width: 100%;
	}
	.work-detaily h3{
		font-size: 24px;
		color: white;
		margin: 15px;
		text-align: left;
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: normal;
	}
}

/*****************************************************************************************************************************************************************************************/

@media (max-width: 375px){
	
	.ou{
		font-size: 16px;
		padding-bottom: 3px;
	}

	.container{
		padding: 16px 8px 0px 8px;
	}

	.logo{
		top: 5px;
		width: 80px;
	}
	
	nav ul li{
		display: inline-block;
		list-style: none;
		margin: 10px 0px;
		margin-left: 40px;
	}

	nav ul li a::after{
		content: ' ';
		width: 0%;
		height: 2px;
		background: #0000FF;
		position: absolute;
		left: 0;
		bottom: 5px;
		transition: 0.0s;

	}

	nav ul li a:hover::after{
		width: 100%;
	}

	.header-text{
		padding: 16px 16px 8px 16px;
	}

	.header-text p{
		font-size: 16px;
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: normal;
	}

	.header-text p em{
		font-size: 16px;
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: italic;
	}

	
	.footerContainer{
		width: 100%;
		padding: 30px 30px 30px;
		position: absolute;
	}
	
	.socialmedia{
		display: flex;
		justify-content: center;
	}
	
	.socialmedia a{
		padding: 10px;
		margin: 10px;
		color: white;
		font-size: 14px;
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: normal;
		text-decoration: none;
	}
	
	.footerbottom{
		padding: 20px;
		text-align: center;
	}
	
	.footerbottom p{
		font-size: 14px;
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: normal;
	}
	
	.desiner-name{
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: normal;
		font-size: 14px;
		color: #0000FF;
	}

	#portfolio{
		padding: 10px 10px 20px;
		max-width: 1920px;
		width: 100%;
	}

	.work-container{
		display: block;
		gap: 3px;
		padding-bottom: 3px;
	}

	.colum{
		display: flex;
		flex-direction: column;
		gap: 5px;
		padding-bottom: 5px;
		width:100%;
	}

	.colum2{
		display: flex;
		flex-direction: column;
		gap: 5px;
		padding-bottom: 10px;
		width: 100%;
	}
	.work-detaily h3{
		font-size: 24px;
		color: white;
		margin: 15px;
		text-align: left;
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: normal;
	}
}

/***************************************************************************************************************************************************************************************/

@media (max-width: 360px){
	
	.ou{
		font-size: 16px;
		padding-bottom: 3px;
	}

	.container{
		padding: 16px 8px 0px 8px;
	}

	.logo{
		top: 5px;
		width: 80px;
	}
	
	nav ul li{
		display: inline-block;
		list-style: none;
		margin: 10px 0px;
		margin-left: 40px;
	}

	nav ul li a::after{
		content: ' ';
		width: 0%;
		height: 2px;
		background: #0000FF;
		position: absolute;
		left: 0;
		bottom: 5px;
		transition: 0.0s;

	}

	nav ul li a:hover::after{
		width: 100%;
	}

	.header-text{
		padding: 16px 16px 8px 16px;
	}

	.header-text p{
		font-size: 16px;
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: normal;
	}

	.header-text p em{
		font-size: 16px;
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: italic;
	}

	
	.footerContainer{
		width: 100%;
		padding: 30px 30px 30px;
		position: absolute;
	}
	
	.socialmedia{
		display: flex;
		justify-content: center;
	}
	
	.socialmedia a{
		padding: 10px;
		margin: 10px;
		color: white;
		font-size: 14px;
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: normal;
		text-decoration: none;
	}
	
	.footerbottom{
		padding: 20px;
		text-align: center;
	}
	
	.footerbottom p{
		font-size: 14px;
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: normal;
	}
	
	.desiner-name{
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: normal;
		font-size: 14px;
		color: #0000FF;
	}

	#portfolio{
		padding: 10px 10px 20px;
		max-width: 1920px;
		width: 100%;
	}

	.work-container{
		display: block;
		gap: 3px;
		padding-bottom: 3px;
	}

	.colum{
		display: flex;
		flex-direction: column;
		gap: 5px;
		padding-bottom: 5px;
		width:100%;
	}

	.colum2{
		display: flex;
		flex-direction: column;
		gap: 5px;
		padding-bottom: 10px;
		width: 100%;
	}
	.work-detaily h3{
		font-size: 24px;
		color: white;
		margin: 15px;
		text-align: left;
		font-family: "neue-haas-grotesk-display", sans-serif;
		font-weight: 300;
		font-style: normal;
	}
}

/*****************************************************************************************************************************************************************************************/




